@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --text-color: rgba(12, 16, 54, 0.77);
  --icon-clr-1: #2d9cdb;
  --icon-clr-2: #eb5757;
  --icon-clr-3: #f2c94c;
  --vector-clr: #e6ea39;
  --centre-frame-clr: rgba(191, 247, 240, 0.65);
  --arc-clr: #eb5757;
  --tranistion: all 0.25s ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
}
