@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --accent: #15c39a;
  --tranistion: all 0.2s ease-in-out;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  width: 100vw;
  height: 80px;
  padding: 0 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--accent);

  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  z-index: 1;

  .logo {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
  }

  .navbar {
    // TODO: remove this if add icons
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;

    display: flex;
    li {
      margin: 0 35px;
      list-style-type: none;
      cursor: pointer;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid var(--accent);
        transform: scaleX(0);
        transition: var(--tranistion);
        z-index: -1;
      }

      &:hover {
        &::before {
          transform: scaleX(1);
        }
      }

      .nav-links {
        text-decoration: none;
        color: var(--accents);
      }
    }
  }
}

section {
  background: #e5e5e5;
  min-height: calc(100vh - 40px);

  padding-top: 80px; // to compensate header height
  padding-right: 2rem;
  padding-left: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .card {
    display: inline-flex;
    min-width: 250px;
    min-height: 300px;
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25),
      inset 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    margin: 1rem;
    padding: 1rem;
  }
}

footer {
  height: 40px;
  background: var(--accent);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
