:root {
  --header-height: 55px;
  --footer-height: 25px;
}

.fa::before {
  font-size: 0.75rem;
}

header {
  padding: 0;
  justify-content: center;
  .logo {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .navbar {
    .nav-links:not(.color-mode) {
      display: none;
    }
  }
}

section {
  .container {
    width: 90%;
  }
  .grid-col {
    padding: 0;
  }

  .grid-col--2,
  .grid-col--3 {
    display: none;
  }

  .card {
    .title {
      font-size: 1rem;
    }
    .todo-items,
    .completed-items {
      font-size: 0.75rem;
    }
  }
}

footer {
  font-size: 0.6rem;
}
