:root {
  --header-height: 62px;
  --footer-height: 28px;
}

.fa::before {
  font-size: 0.9rem;
}

header {
  padding: 0;
  justify-content: center;
  .logo {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .navbar {
    display: none;
  }
}

section {
  .container {
    width: 85%;
  }

  .grid-col--3 {
    display: none;
  }

  .card {
    .title {
      font-size: 1.25rem;
    }
    .todo-items,
    .completed-items {
      font-size: 0.9rem;
    }
  }
}

footer {
  font-size: 0.8rem;
}
